h1 {
    background-color: brown;
    color: aqua;
    font-style: oblique;
    

}
body {
    background-image:linear-gradient( to left, white, rgb(209, 117, 163));
    text-align: center;
}
form {
    border: solid 1px lightgray;
    background-color: lightgray;
    align-content: center;
    font-size: 30px;
    display: inline-block;
    border-radius: 10px;
    box-shadow:10px 10px grey;
    width: 500px;
    height: 200px;
}
label {
    text-shadow: 3px 0px 5px red;
}
button {
    background-color:blue;
    color: white;
    font-size:25px;
    border: none;
}
button:hover {
    background-color: white;
    color:blue;
}